#============= kernel ==============
allow kernel sdcardfs:dir search;
allow kernel storage_stub_file:dir search;

allow kernel priv_app:process setsched;
