#============= netutils_wrapper ==============
allow netutils_wrapper vendor_file:file getattr;

# Shutup logspam
dontaudit netutils_wrapper self:capability sys_module;

allow netutils_wrapper netmgrd:netlink_socket { read write };
